lab2_25/OrderProcess.wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderProcess" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass2/process"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass2/process"
    xmlns:ns="http://infosys.tuwien.ac.at/aic10/ass2/OrderProcessSchema"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xs:schema targetNamespace="http://infosys.tuwien.ac.at/aic10/ass2/process">
            <xs:import schemaLocation="OrderProcess.xsd" namespace="http://infosys.tuwien.ac.at/aic10/ass2/OrderProcessSchema" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="start_process_request">
        <wsdl:part name="part1" element="ns:parameters"/>
    </wsdl:message>
    <wsdl:message name="callback">
        <wsdl:part name="part1" element="ns:parameters_callback"/>
    </wsdl:message>
    <wsdl:message name="start_process_response">
        <wsdl:part name="part1" element="ns:result"/>
    </wsdl:message>
    <wsdl:message name="callback_response">
        <wsdl:part name="part1" element="ns:callback_result"/>
    </wsdl:message>

    <wsdl:portType name="OrderProcessPortType">
        <wsdl:operation name="start_process">
            <wsdl:input name="input" message="tns:start_process_request"/>
            <wsdl:output name="output" message="tns:start_process_response"/>
        </wsdl:operation>
        <wsdl:operation name="callback">
            <wsdl:input name="inputCallback" message="tns:callback"/>
            <wsdl:output name="outputCallback" message="tns:callback_response"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrderProcessBinding" type="tns:OrderProcessPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="start_process">
            <soap:operation/>
            <wsdl:input name="input">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="callback">
            <soap:operation/>
            <wsdl:input name="inputCallback">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="outputCallback">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrderProcessService">
        <wsdl:port name="OrderProcessPort" binding="tns:OrderProcessBinding">
            <soap:address location="http://localhost:9080/OrderProcessService/OrderProcessPort"/>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="OrderProcessLinkType">
        <plnk:role name="OrderProcessProvider" portType="tns:OrderProcessPortType"/>
    </plnk:partnerLinkType>


</wsdl:definitions>


