lab2_25/lab2_25/src/customerservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CustomerService" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/customer" xmlns:ns1="http://services.aic2010/" xmlns:ns2="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="http://localhost:8088/customerservice?wsdl=CustomerService.wsdl" namespace="http://services.aic2010/">
    </wsdl:import>
  <wsdl:binding name="CustomerServiceSoapBinding" type="ns1:CustomerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_customer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="get_customer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="get_customerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_customer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update_customer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="update_customerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_customer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="add_customer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="add_customerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notify">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="notify">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="notifyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_customer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete_customer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delete_customerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_account">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update_account">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="update_accountResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_all_customers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="get_all_customers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="get_all_customersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port binding="tns:CustomerServiceSoapBinding" name="CustomerPT">
      <soap:address location="http://localhost:8088/customerservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>